:root {
  --background: #7c9083;
  --foreground: #171717;
  --font: #355240;
  --whcolor: #f7f7f7;
  --btncolor:  #234e35ff;
  /* --btncolor: linear-gradient(135deg, #234e35ff, #4e5752ff); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font);
  /* background: var(--background); */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* バックのビデオ */
.movie_blk {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.movie_blk video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* リセット */
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
}

/* 共通 */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
}
.btn {
  min-width: 120px;
  max-width: 170px;
  height: 37px;
  background-color: var(--btncolor);
  border-radius: 25px;
  text-align: center;
  line-height: 2.3;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn:hover {
  /* transform: scale(1.15, 1.15); */
  background-color: var(--background);
}
.btn a {
    display: block;
    width: 100%;
    color: var(--whcolor);
}
.external-rink {
  position: relative;
}
.external-rink::after {
  position: absolute;
  right: 10px;
  top: 3px;
  
  content: url(/external-icon.svg);
}
/* ヘッダー */
.header-flex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flex {
  display: flex;
  gap: 20px;
  list-style: none;
}
h1 a {
  color: var(--font);
}
/* フッター */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 2.5;

}

/* メイン */
.back-seet-top {
  width: 100%;
  height: 70vh;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.6);


}
.back-seet {
  width: 100%;
  /* height: 80vh; */
  min-height: 70vh;
  border-radius: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.6);


}
.top-flex {
  display: flex;

}
.top-image {
  flex-basis: 70%;
  height: 100%;
  background-color: #cccccc;
  border-radius: 40px;
}
.top-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  font-size: 26px;
}
.page-title {
  text-align: center;
  /* padding-top: 40px; */
  margin-bottom: 30px;
}
.page-title h2 {
  font-size: 40px;
  margin-bottom: 20px;

}
.page-title p {
  font-size: 16px;
  font-weight: bold;
}

/* ワークのページ */
.workdata-flex {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.work-card {
  min-width: 150px;
  max-width: 300px;
  min-height: 450px;
  /* text-align: center; */
  background-color: var(--whcolor);
  border-radius: 20px;
  padding: 20px;
}
.work-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.work-card p {
  margin-bottom: 30px;
  text-align: justify;
}
.work-card ul li {
  margin: 0 auto;
}
.work-card figure {
  margin-bottom: 20px;
}
.work-card figure img {
  width: 100%;
}
.work-pages h2 {
  text-align: center;
  margin-bottom: 20px;
}
.work-pages > p {
  text-align: center;
  margin-bottom: 30px;
} 
.explanation-sec {
  margin-bottom: 30px;
}
.explanation-sec h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.explanation-sec p {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.work-pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-pages ul li {
  width: 100%;
}
.work-pages figure {
  max-width: 600px;
  margin: 20px auto;
}



