:root {
  --background: #7c9083;
  --foreground: #171717;
  --font: #355240;
  --whcolor: #f7f7f7;
  --btncolor:  #234e35ff;
  /* --btncolor: linear-gradient(135deg, #234e35ff, #4e5752ff); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto), var(--font-noto), sans-serif;
}

body {
  color: var(--font);
  /* background: var(--background); */
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3::before {
  content: "■";
  font-size: 30px;
}
p {
  white-space: pre-wrap;
  line-height: 1.8;
  text-align: justify;
}
/* バックのビデオ */
.movie_blk {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.movie_blk video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* リセット */
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
}

/* 共通 */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
}
.btn {
  min-width: 120px;
  max-width: 170px;
  height: 37px;
  background-color: var(--btncolor);
  border-radius: 25px;
  text-align: center;
  line-height: 2.3;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn:hover {
  /* transform: scale(1.15, 1.15); */
  background-color: var(--background);
}
.btn a {
    display: block;
    width: 100%;
    color: var(--whcolor);
}
.external-rink {
  position: relative;
}
.external-rink::after {
  position: absolute;
  right: 10px;
  top: 3px;
  
  content: url(/external-icon.svg);
}
/* ヘッダー */
.header-flex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flex {
  display: flex;
  gap: 20px;
  list-style: none;
}
h1 a {
  color: var(--font);
}
/* フッター */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 2.5;

}

/* メイン */
.back-seet-top {
  width: 100%;
  height: 78vh;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.6);


}
.back-seet {
  width: 100%;
  /* height: 80vh; */
  min-height: 70vh;
  border-radius: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.6);


}
.top-flex {
  display: flex;

}
.top-image {
  flex-basis: 70%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
  background-color: #000; 
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
  transform: scale(1.1);
}

.slide.active {
  opacity: 1;
  z-index: 2;
  animation: zoom-up 5s linear forwards;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes zoom-up {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.top-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  font-size: 26px;
}
.page-title {
  text-align: center;
  /* padding-top: 40px; */
  margin-bottom: 30px;
}
.page-title h2 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.page-title p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* ワークのページ */
.workdata-flex {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.work-card {
  min-width: 150px;
  max-width: 300px;
  min-height: 450px;
  /* text-align: center; */
  background-color: var(--whcolor);
  border-radius: 20px;
  padding: 20px;
}
.work-card h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.work-card p {
  margin-bottom: 30px;
  text-align: justify;
}
.work-card ul li {
  margin: 0 auto;
}
.work-card figure {
  margin-bottom: 20px;
}
.work-card figure img {
  width: 100%;
}
.work-pages h2 {
  text-align: center;
  margin-bottom: 20px;
}
.work-pages > p {
  text-align: center;
  margin-bottom: 30px;
} 
.explanation-sec {
  margin-bottom: 30px;
}
.explanation-sec h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.explanation-sec p {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.work-pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-pages ul li {
  width: 100%;
}
.work-pages figure {
  max-width: 600px;
  margin: 50px auto;
}

/* アバウトページ */
.about-section  {
  border-top: 60px;
}
.about-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.about-section h3 {
  margin-bottom: 10px;
}
.about-section h3::before {
  content: "■";
  font-size: 30px;
}
.about-section p {
  margin-bottom: 30px;
}
.about-profile {
  display: flex;
  justify-content: space-between;
  background-color: var(--whcolor);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.about-profile figure {
  flex-basis: 30%;
}
.about-profile figure img {
  object-fit: cover;
  border-radius: 20px;
}
.about-profile > div {
  flex-basis: 65%;
}

/* コンタクトページ */
.contact-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contact-text {
  flex-basis: 50%;
}
.contact-img {
  flex-basis: 45%;
  
}
.contact-img img {
  border-radius: 20px;
}
.contact-text h2 {
  margin-bottom: 20px;
}
.contact-text p {
  margin-bottom: 20px;
}
.contact-section {
  margin-bottom: 50px;
}
.sitestructure-section > p {
  margin-bottom: 20px;
}
